<link rel="stylesheet" href="../style3.css">

<% include("../layouts/header.ejs") %>


<div class="form-container" style="background-color: rgb(211, 231, 225)">
    
    
<table width="50%">
    <h2>Welcome ,<%= admin.name %></h2>

    <a href="/admin/dashboard">Dashboard</a>

    <tr>
        <td><img src="/userImages/<%= admin.image %>" width="100px" height="100px" alt="<%= admin.image %>"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><%= admin.email %></td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td><%= admin.mobile %></td>
    </tr>
   
</table>


</div>





<% include("../layouts/footer.ejs") %>

<a href="/admin/logout">Logout</a>